body{
    margin: 0;
    padding: 0;
    text-align: center;
    background: url(/img/contact_1.jpg) no-repeat center center/cover;
    background-size: cover;
    font-family: sans-serif;
}

.left{
    position: absolute;
    left: 40px;
    top: 20px;
    display: inline-block;
    /* border: 2px solid red; */
}
.mid{
    display: block;
    width: 43%;
    margin: 23px auto;
    /* border: 2px solid green; */
}

.nevbar{
    /* position: fixed; */
    
    display: inline-block;
}
.nevbar li{
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    /* margin: 5px; */
    
}
.nevbar li a{
    text-decoration: none;
    padding: 24px 13px;
    color: wheat;
}
.nevbar li a:hover,.nevbar li a.active{
    color: red;
    text-decoration: underline;
}

.left img{
    height: 50px;
    filter:invert(100%);
}
.left div{
    text-align: center;
    line-height: 19px;
    font-size: 21px;
}

 .title{
    margin-top: 100px;
    color: #fff;    
}
.title h1{
    font-size: 32px;
    line-height: 10px;
}
.title h2{
    font-size: 16px;

}
form{
    margin-top: 50px;

}
.form-control{
    width: 600px;
    background:transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: rgb(660, 707, 227);
    font-size: 18px;
    margin-bottom: 16px;

}
input{
    height: 45px;
}
form .submit{
    background-color: #ff5722;
    border-color: rgb(248, 7, 7);
    font-size: 20px;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
    transition: 0.4s ease;
}
form .submit:hover{
    background-color: #f44336;
    cursor: pointer;
}

footer .footer{
    /* border: 2px solid black; */
    background-color: rgb(62, 54, 54);
}