body {
    font-family: 'Baloo Bhaina 2', cursive;
    color: wheat;
    margin: 0px;
    padding: 0px;
    background: url('img/gym2.jpg') no-repeat center center/cover;
    height: 904px;
    height: 700px;
}
.left{
    position: absolute;
    left: 40px;
    top: 20px;
    display: inline-block;
    /* border: 2px solid red; */
}
.mid{
    display: block;
    width: 43%;
    margin: 23px auto;
    /* border: 2px solid green; */
}
.right{
    position: absolute;
    right: 34px;
    top: 20px;
    display: inline-block;
    /* border: 2px solid rgb(115, 115, 175); */

}
.nevbar{
    /* position: fixed; */
    
    display: inline-block;
}
.nevbar li{
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    /* margin: 5px; */
    
}
.nevbar li a{
    text-decoration: none;
    padding: 24px 13px;
    color: wheat;
}
.nevbar li a:hover,.nevbar li a.active{
    color: red;
    text-decoration: underline;
}
.left img{
    height: 50px;
    filter:invert(100%);
}
.left div{
    text-align: center;
    line-height: 19px;
    font-size: 21px;
}
 .btn{
    font-family: 'Baloo Bhaina 2', cursive;
    background-color: black;
    color: wheat;
    margin: 5px;
    padding:5px 15px;
    /* border: 2px solid gray; */
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}
.btn:hover{
    background-color: red ;
}
.container{
    border: 2px solid wheat;
    width: 33%;
    padding: 2px 31px;
    margin: 45px 81px;
    border-radius: 5px;
}
.form-group input{
    font-family: 'Baloo Bhaina 2', cursive;
    /* border: 2px red solid; */
    margin: 5px auto;
    padding: 0px;
    width: 347px;
    text-align: center;
    font-size: 17px;
    display: block;
}
.container button{
    display: block;
    width: 81%;
    margin: 10px auto;
}
.container h1{
text-align: center;
}

footer{
    border: 2px solid black;
    background-color: rgb(39, 36, 36);
    height: 201px;
    width: 100%;
}
footer .foot{
    text-align: center;
}